<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base</title>
  </head>
  <body>
    <h1>Welcome to the Base Template</h1>
    <p>This is the base template for the Django project.</p>
    <a
      href="{% url 'add-item' %}"
      style="
        background-color: red;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
      "
      >Add Item</a
    >
  </body>
</html>
